

.center_box {
    vertical-align: middle;
    text-align: center;
    background: #44556;
}

.login_box, .divider_box {
    display: inline-block;
    padding: 50px;
}

.divider_box {
    vertical-align: middle;
}

.twit {
    border: 2px solid;
    border-radius: 2px;
    margin: 20px;
    padding: 10px;
    max-width: 400px;
}

body {
    padding: 20px;
}