{% extends 'twitter/base_theme_twittable.html' %}

{% load bootstrap3 %}
{% load friendshiptags %}
{% load twitter_tags %}

{% block content %}

  <p> Oglądasz stronę użytkownika {{ user.username }} </p>

  {% display_manage_friend logged_user user %}
  
  {% include 'twitter/users_list.html' with users=friends title="Znajomi użytkownika: " no_users="Użytkownik nie ma jeszcze znajomych." %}
  
{% if user.id == logged_user.id %}
  {% include 'twitter/add_friend.html' %}
{% endif %}

{% include 'twits/twits_list.html' with twits=user_twits no_twits="Użytkownik nie postował żadnych twitów." %}

{% endblock %}
