;; -*- mode: Lisp; -*-

(setq prj-version "0.4")

(setq prj-config
      '(("project-name" . "Twitter")))

(setq prj-tools
      '(("Make" "make" "f9")
	("Clean" "make clean" "C-f9")
	("Run" "echo run what" "f8")
	("Stop" "-e eproject-killtool" "C-f8")
	("---")
	("Configure" "./configure")
	("---")
	("Explore Project" "nautilus --browser `pwd` &")
	("XTerm In Project" "xterm &")))

(setq prj-files
      '(("twits/templates/twits/display_user.html" 1 1)
	("/home/adi/.emacs" 46 52)))

(setq prj-curfile "/home/adi/.emacs")

(setq prj-functions nil)

